#include("../head.html")
  
  <body class="layui-fluid">

             
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>数据清理</legend>
</fieldset>
 
<div class="layui-form">
  <table class="layui-table">
    <colgroup>
      <col width="150">
      <col width="150">
      <col width="200">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>ID</th>
        <th>数据表</th>
        <th>数据量</th>
        <th>操作</th>
      </tr> 
    </thead>
    <tbody>
    #for(DBS db : dbs)
      <tr>
        <td>$!{for.index}</td>
        <td>$!{db.dbname}</td>
        <td>$!{db.count}</td>
        <td><a href="javascript:void(0)"  onClick="x_admin_show('数据清理','delData?table=$!{db.dbname}', 500,300)">删除</a></td>
      </tr>
    #end

    </tbody>
  </table>
</div>
         

          
<script src="../lib/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
  function link_del(id){
    layer.confirm('确认要删除吗？',function(index){
      //发异步删除数据
      $(obj).parents("tr").remove();
      layer.msg('已删除!',{icon:1,time:1000});
    });
  }
</script>
</body>


</html>