<!DOCTYPE HTML>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?93f9e0edb81f2177f445264bc836f8dd";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<html>
	<head>
		<title>$!{settings.title}</title>
		    <meta name="description" content="$!{settings.description}"/>
    <meta name="keywords" content="$!{settings.keywords}"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
<img src="/static/images/touxiang.jpg" class="logo">
						</div>
						<div class="content">
							<div class="inner">
								<h1>$!{settings.domain}</h1>
        <p>$!{settings.sign}</p>
							</div>
						</div>
						<nav>
							<ul>
								#for(Zimu_link link : links)
								<li><a href="$!{link.link}" target="_blank">$!{link.linkName}</a></li>
								#end
							</ul>
						</nav>
					</header>
					<footer id="footer">$!{settings.footerName}
						<p class="copyright">&copy; Untitled. Design: <a href="$!{settings.footerLink}">$!{settings.footerLinkName}</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>
